.file-uploader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  width: 700px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 2px 6px #97a4db;
  &__container {
    padding: 50px;
  }
  &__zone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 2px solid #e3e2e4;
    border-radius: 10px;
  }
  &__add-file-label {
    color: #1d9bde;
    cursor: pointer;
    display: inline-block;
    padding: 0 5px 0 5px;
  }
  &__file-upload {
    display: none;
  }
  &__drop-files {
    color: var(--color);
  }
  &__uploaded-files {
    padding: 10px;
  }
  &__file-status {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__file-name-volume {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &__file-volume {
    color: var(--color);
  }
  &__retry {
    background: none;
    border-radius: 5px;
    border: 2px solid #25a3e4;
    color: #25a3e4;
    font-weight: 600;
    padding: 5px 10px 5px 10px;
  }
}
